@import url("variable");

/* 購物車結帳頁 */
.checkout { padding-top: 70px; gap: 20px;
    > h2 { position: absolute; width: 100%; top: 30px; left: 0; 
        font-size: @font-XL; font-weight: normal; text-align: center; }
    .title-bar { height: 60px; padding: 10px 0; 
        display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; 
        font-size: @font-L; white-space: nowrap; border-bottom: 1px solid @color-border;
        .btn-basic-border { height: 36px; }
        .total-price { color: @color-red; 
            > b { font-size: @font-XXL; font-weight: 600; }
        }
    }
    .container__left { width: 100%;
        .pt-item { display: grid; grid-template-columns: 100px calc(100% - 330px) 100px 100px; grid-gap: 3px 10px; margin: 10px 0; 
            .pt-item__pic { width: 100%; display: flex; align-items: center; }
            .pt-item__info { width: 100%; display: flex; flex-flow: column; justify-content: center; 
                .pt-item__info__gift { color: @color-cis; }
                .pt-item__info__name > * { display: block; }
            }
            .select-size { width: 100px; display: flex; align-items: center; line-height: 100%;
                .select-basic { min-width: 60px; height: 32px; padding: 0 0 0 10px; margin-left: 5px; }
            }
            .pt-item__right { display: grid; align-content: space-between;
                .pt-item__info__price { text-align: right;
                    > * { white-space: nowrap; }
                    .deal { color: @color-cis; font-size: @font-L; }
                    .original { color: @color-gray2; text-decoration: line-through; }
                }
                .pt-item__right__btns { display: flex; flex-flow: nowrap; justify-content: flex-end; align-items: center; gap: 15px; 
                    > a, > button, > input[type=button], > input[type=submit] {
                        width: 24px; height: 24px; padding: 0; background: none;
                    .icon-heart { display: inline-block; width: 24px; height: 24px; 
                        background: url(../images/icons/heart-border.svg) no-repeat center center; background-size: 100%; }
                    .icon-delete { display: inline-block; width: 24px; height: 24px; 
                        background: url(../images/icons/delete.svg) no-repeat center center; background-size: 80%; }
                    }
                }
            }
        }

        .other-total { display: flex; flex-flow: column; gap: 8px; padding-top: 20px; border-top: 1px solid @color-border;
            > div{ display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; }
        }
    }
    .container__main { width: 100%; 
        .pay-group { padding: 20px 0; border-bottom: 1px solid @color-border; 
            .pay-group__title { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center;
                > * { display: flex; flex-flow: nowrap; align-items: center;
                    .icon-arrow-down { display: inline-block; width: 20px; height: 20px; margin: 2px 0 0 5px;
                        background: url(../images/icons/arrow-down.svg) no-repeat center; background-size: 60%; }
                }
                .discount-desc { color: @color-red; text-decoration: underline; }
            }
            .pay-group__select { display: flex; flex-flow: nowrap; align-items: center;
                padding: 10px 15px; font-size: @font-M; border: 1px solid @color-default;
                background: url(../images/icons/arrow-down.svg) no-repeat calc(100% - 20px) center; background-size: 20px;
                cursor: pointer; transition: 0.3s;
                .icon-delivery { display: inline-block; width: 24px; height: 24px; margin-right: 8px;
                    background: url(../images/icons/delivery.svg) no-repeat center; background-size: 100%; }
            }
            .pay-group__select:hover { text-decoration: none; background-color: @color-bg; }
            .pay-group__count { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; gap: 8px; margin-top: 10px;
                .checkbox-basic { width: 100%; }
                .pay-group__count__point { color: @color-red; }
                .pay-group__count__desc { color: @color-gray1; }
                .pay-group__count__price { white-space: nowrap; }
            }
        }
        .pay-group.d-coin .pay-group__count, .pay-group.online-cash .pay-group__count { margin-top: 0; }

        .pay-group__discount-list { display: grid; grid-template-columns: repeat(5, 1fr); grid-gap: 10px; margin-top: 10px;
            > a { display: inline-flex; flex-flow: nowrap; justify-content: center; align-items: center; 
                width: 100%; height: 40px; padding: 8px 15px; transition: 0.3s;
                color: @color-default; font-size: @font-M; text-align: center; 
                background: @color-white; border: 1px solid @color-default; }
            > a:hover { background: @color-bg; text-decoration: none; }
            .selected, .selected:hover { color: @color-white; background: @color-default; border-color: @color-default; }
            .disabled, .disabled:hover { color: @color-gray2; background: @color-bg; border-color: @color-bg; cursor: text; }
        }

        .total-count { display: flex; flex-flow: column; gap: 8px; padding-top: 20px; border-top: 1px solid @color-border;
            > div{ display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; 
                .total-count__final { color: @color-red; font-size: @font-M;
                    > b { font-size: @font-XXL; font-weight: 600; }
                }
                .total-count__spec { color: @color-gray1; }
            }
        }

        .foreign-currency { border-bottom: none;
            .pay-group__title.foreign-currency__btn { justify-content: flex-end; 
                > a { display: inline-flex; flex-flow: nowrap; justify-content: flex-end; align-items: center; 
                    width: 250px; padding: 3px 30px 5px 0; text-align: right; 
                    background: @color-white url(../images/icons/arrow-down.svg) no-repeat calc(100% - 5px) center; background-size: 14px; 
                    > span { width: 80px; }
                }
                > a:hover { text-decoration: none; }
                .open { background-image: url(../images/icons/arrow-up.svg); }
            }

            .pay-group__pane { display: none; width: 250px; margin-left: calc(100% - 250px); padding-right: 30px; 
                > div { display: flex; flex-flow: nowrap; justify-content: flex-end; align-items: center; 
                    height: fit-content; margin-bottom: 3px; text-align: right; 
                    > span { width: 80px; }
                }
            }
        }

        .payment-important { color: @color-gray0; line-height: 160%;
            .payment-important__notice { color: @color-red; font-size: @font-M; font-weight: bold; }
        }

        .btn-basic.next-step { width: 100%; height: 60px; margin-top: 20px; font-size: @font-L; }
        .final-step { margin-top: 20px; display: flex; flex-flow: nowrap; justify-content: center; align-items: center; gap: 10px;
            > * { width: 100%; height: 60px; }
        }
    }

    /* 無購物清單時顯示 */
    .cart-nothing { display: flex; flex-flow: column; justify-content: center; align-items: center; gap: 15px;
        min-height: 360px; margin-top: 20px; padding: 20px; font-size: @font-L; text-align: center; background: @color-cis-bg;
        .icon-cart-null { display: block; width: 80px; height: 85px; margin: 0 auto; 
            background: url(../images/icons/cart-null.svg) no-repeat center; background-size: 100%; }
        .btn-basic { font-size: @font-L; }
    }
}

/* 折扣碼 */
.popup-theme.discount-code { 
    .input-basic { text-align: center; }
    .btn-basic { width: 100%; margin-top: 10px; }
}

/* 折價券 */
.popup-theme.discount-coupon {
    .coupon-list { width: fit-content; margin: 20px auto; display: flex; flex-flow: column; gap: 15px; 
        label { display: flex; flex-flow: nowrap; align-items: center; gap: 10px; }
        input[type="radio"]:checked + label .coupon-item { background: @color-cis-bg; }
    }
}

/* 付款方式/常用取貨門市/常用地址/常用信用卡 */
.popup-list { margin: 20px auto; display: flex; flex-flow: column;
    .popup-list__title { margin: 20px 0 0 38px; font-size: @font-L; }
    .popup-list__title-s { margin: 10px 0 0 38px; color: @color-gray1; font-size: @font-S; }

    .radio-basic { border-bottom: 1px solid @color-border; }
    .radio-basic:last-child { border-bottom: none; }
    label { padding: 15px 0; display: flex; align-items: center !important; gap: 10px; }
    .popup-group { width: calc(100% - 20px);
        .popup-group__name { display: flex; align-items: center; font-size: @font-L; 
            > img { width: auto; height: 20px; margin-right: 8px; }
        }
        .popup-group__desc { color: @color-gray1; }
    }
    hr { width: 100%; border-top: 1px solid @color-border; }
}

/* 配送方式 */
.popup-theme.delivery-option {
    .radio-basic { border-bottom: none; }
}

/* 填寫客戶資訊 */
.form-table { 
    .choose-btn { display: inline-flex; flex-flow: nowrap; align-items: center; 
        font-size: @font-S; text-decoration: underline; 
        > i { margin-right: 5px; }
    }
    .icon-search, .icon-add { display: inline-block; width: 20px; height: 20px; 
        background-position: center; background-size: 80%; background-repeat: no-repeat; }
    .icon-search { background-image: url(../images/icons/search.svg); }
    .icon-add { background-image: url(../images/icons/add.svg); }
    .btn-basic-border { padding: 5px 10px; height: 36px; font-size: @font-S; }
    .form-table__link .change-store { font-size: @font-M; }
}

/* 完成訂購頁面 */
.checkout.finished { display: block; background: @color-bg;
    .container-wrap { width: 100%; max-width: 640px; margin: 0 auto;
        display: flex; flex-flow: column; gap: 5px; text-align: center;

        > h2 { font-size: @font-XL; font-weight: normal; text-align: center; }
        .icon-success { display: block; width: 80px; height: 80px; margin: 20px auto;
        background: url(../images/icons/success-circle-p.svg) no-repeat center; background-size: 100%; }
        .icon-fail { display: block; width: 80px; height: 80px; margin: 20px auto;
            background: url(../images/icons/fail-circle-p.svg) no-repeat center; background-size: 100%; }

        .order-id { font-size: @font-XL; font-weight: 500; }
        .finish-total {
            > b { font-size: @font-XL; font-weight: 500; }
        }
        .atm-info { padding: 20px 30px; margin-top: 20px; text-align: left; background: @color-white;
            .atm-info__title { padding-bottom: 10px; margin-bottom: 10px; 
                font-size: @font-L; font-weight: 500; border-bottom: 1px solid @color-border; }
            .atm-info__content time { color: @color-red; font-weight: 500; }
            .atm-info__bank { margin-top: 15px; line-height: 200%; 
                > b { color: @color-red; font-weight: 500; }
            }
        }
        .notice-txt { padding: 20px 0;
            .notice-txt__spec { color: @color-red; }
        }
    }
}

/* 小螢幕 */
@media (max-width: 1024px) {
    .checkout { flex-flow: column; gap: 0; }
}

/* 手機版 */
@media (max-width: 820px) {
    .checkout { padding: 50px 15px;
        > h2 { top: 25px; font-size: @font-L; }
        .title-bar { font-size: @font-M;
            .btn-basic-border { height: 30px; padding: 5px 10px; font-size: @font-S; }
        }
        .container__left {
            .title-bar.step2 { display: none; }
            .pt-item { grid-template-columns: 70px calc(100% - 170px) 80px; grid-gap: 10px;
                .pt-item__pic { align-items: flex-start; grid-column: 1 / 2; grid-row: 1 / 3; }
                .pt-item__info { justify-content: flex-start; }
                .select-size { grid-column: 2 / 3; grid-row: 2 / 3; }
                .pt-item__right { grid-column: 3 / 4; grid-row: 1 / 3; 
                    .pt-item__info__price .deal { font-size: @font-M; }
                }
            }
        }
        .container__main { width: 100%;
            .pay-group__discount-list { grid-template-columns: repeat(3, 1fr); }
        }

        .cart-nothing { font-size: @font-M;
            .btn-basic { font-size: @font-M; }
        }
    }
}