@import url("variable");

/* 商品列表頁 */
.product {
    .filter-title { position: sticky; top: 70px;
        display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; 
        padding: 10px 0; margin-top: 20px; font-size: @font-M; 
        background: #FFFFFF; border-bottom: 1px solid @color-border;
        .btn-basic-border { width: fit-content; height: 30px; padding: 5px 10px; font-size: @font-S; }
        .btn-basic{ width: fit-content; height: 30px; padding: 5px 10px; font-size: @font-S; }
    }
    .tags-group .tags-list__title { font-size: @font-M; }
    .filter-title + .tags-group { margin-top: 10px; }

    .pt-category { 
        .pt-category__group { 
            .pt-category__title { padding: 10px 0; font-weight: 300; border-bottom: 1px solid @color-border; 
                background: @color-white url(../images/icons/arrow-down.svg) no-repeat calc(100% - 10px) center; background-size: 14px;
                cursor: pointer; 
            }
            .pt-category__title.open { background-image: url(../images/icons/arrow-up.svg); }
            .pt-category__menu { display: none; padding-bottom: 30px; border-bottom: 1px solid @color-border; }
        }
        .pt-category__group:last-child .pt-category__title { border-bottom: none; }
    }

    .title-bar { display: flex; flex-flow: nowrap; justify-content: space-between; align-items: center; padding-top: 20px;
        h1 { font-size: @font-L; font-weight: 300; 
            .keywords { color: @color-cis; }
        }
        .select-basic { margin-left: 5px; }
        .filter-btn { white-space: nowrap; }
    }

    .pt-list { display: grid; grid-template-columns: repeat(4, 1fr); grid-gap: 30px; padding: 2% 4%;
        .pt-item { flex-flow: column;
            .pt-item__pic { position: relative; width: 100%; margin-right: 0; 
                .pre-order-txt { position: absolute; width: 100%; bottom: 0; left: 0; padding: 8px 10px;
                    color: @color-cis; text-align: center; background: @color-cis-bg; }
                .sold-out { position: absolute; width: 100%; height: 100%; top: 0; right: 0; bottom: 0; left: 0;
                    display: flex; justify-content: center; align-items: center; background: rgba(255, 255, 255, 0.7);

                    > span { display: block; width: 66px; height: 66px; display: flex; justify-content: center; align-items: center; 
                        text-align: center; line-height: 100%; background: @color-cis-bg; border-radius: 99em; }
                }
                .tags { position: absolute; width: 100%; top: 0; right: 0; left: 0; 
                    > span { display: inline-block; padding: 8px 15px; margin: 0 3px 5px 0; 
                        line-height: 100%; background: @color-white; border: 1px solid @color-default; }
                    .new { color: @color-white; background: @color-default; border-color: @color-default; }
                    .sale { color: @color-white; background: @color-cis; border-color: @color-cis; }
                }
            }
            .pt-item__info { position: relative; width: 100%; margin-top: 12px; 
                .add-btn { position: absolute; width: 30px; height: 30px; right: 0; bottom: 0; padding: 0; background: none; 
                    display: flex; justify-content: center; align-items: center;
                    .icon-add { display: inline-block; width: 30px; height: 30px;
                        background: url(../images/icons/add.svg) no-repeat center; background-size: 75%; }
                }
            }
        }
    }
}

/* 電腦版小螢幕 */
@media (max-width: 1680px) {
    .product .pt-list { grid-template-columns: repeat(3, 1fr); grid-gap: 20px 30px; }
}
@media (max-width: 1140px) {
    .product .pt-list { grid-template-columns: repeat(2, 1fr); grid-gap: 20px 30px; }
}

/* 手機版 */
@media (max-width: 820px) {
    .product {
        .container__left { display: none; }

        .title-bar { padding: 10px 15px 0 15px;              
            .filter-btn { display: flex !important; width: 120px; height: 36px; padding: 5px 10px; 
                border-color: @color-border;
                .icon-arrow-right { display: inline-block; width: 10px; height: 20px; margin-left: 5px;
                    background: url(../images/icons/arrow-right.svg) no-repeat center; background-size: 8px; }
            }
        }

        .pt-list { grid-template-columns: repeat(2, 1fr); grid-gap: 10px 15px; padding: 0 15px;
            .pt-item {
                .pt-item__pic {  
                    .pre-order-txt { padding: 5px 10px; font-size: @font-S; }
                    .sold-out { 
                        > span { width: 60px; height: 60px; font-size: @font-S; }
                    }
                    .tags {  
                        > span { padding: 5px 10px; }
                    }
                }
                .pt-item__info {
                    .add-btn { width: 24px; height: 24px;
                        .icon-add { width: 24px; height: 24px; }
                    }
                }
            }
        }
    }
}

/* 商品詳情頁 */
.product-detail { padding: 0 0 60px 0; z-index: 1;
    .photo-products img, .photo-others img { display: block; }

    .container__left { width: 50%; margin-right: 0;
        .photo-products { overflow: inherit;
            .swiper-wrapper { flex-flow: column; 
                .swiper-slide > a { cursor: default; }
            }
            .swiper-button-prev, .swiper-button-next { display: none; }
        }
        
        .video { 
            .video-container { width: 100%; max-width: 800px; margin: 0 auto; }
                .video-container__iframe { position: relative; width: 100%; height: 0; padding-top: 56.25%; /*16:9*/
                    iframe { position: absolute; width: 100%; height: 100%; top: 0; left: 0; 
                }
            }
        }
    }
    .container__main { width: 50%; padding: 2% 5% 0 5%; 
        .pt-info { display: flex; flex-flow: wrap; justify-content: space-between; align-items: flex-start; gap: 10px; padding-top: 10px; }
        .pt-info > * { width: calc(50% - 10px); }
        .pt-info > *:nth-child(even) { text-align: right; }
        .pt-info__state {
            > span { display: inline-block; padding: 5px 15px; 
                line-height: 100%; background: @color-cis-bg; border: 1px solid @color-cis-bg; }
            .pre-order { color: @color-cis; background: @color-white; border-color: @color-cis; }
        }
        .whishlist-btn { display: inline-block; width: 30px; height: 30px; padding: 0; background: none;
            .icon-heart { display: inline-block; width: 30px; height: 30px; 
            background: url(../images/icons/heart-border.svg) no-repeat center center; background-size: 100%; }
        }
        h1 { width: calc(100% - 90px) !important; font-size: @font-L; font-weight: 300; line-height: 120%; }
        .pt-info__sid { width: 80px; color: @color-gray1; font-size: @font-XS; }
        .pt-info__price { width: 40%; 
            > * { white-space: nowrap; }
            .deal { margin-right: 5px; color: @color-cis; font-size: @font-L; }
            .original { color: @color-gray2; text-decoration: line-through; }
        }
        .pt-info__link { width: calc(60% - 10px);
            display: flex; flex-flow: column; align-items: flex-end;
            a { display: block; width: fit-content; color: @color-red; text-decoration: underline; }
            .pt-info__notice { color: @color-red; font-size: @font-XS; }
        }
        .color-select__option { width: calc(100% - 140px); display: flex; flex-flow: wrap; gap: 8px;
            > a { display: inline-block; width: 32px; height: 32px; padding: 4px; 
            font-size: @font-L; background: @color-white; border: 1px solid @color-white; 
                > i { display: block; width: 100%; height: 100%; border: 1px solid @color-border; }
            }
            > a:hover { border-color: @color-gray2; }
            .color--selected { border-color: @color-default; }
        }
        .color-select__text { width: 130px; } 
        .size-select__option { width: calc(100% - 140px); margin: 0; }
        .size-select__suggestion { width: 130px; 
            b { color: @color-cis; }
            a { text-decoration: underline; }
            .notice { font-size: @font-XS; }
        }
        .pt-info__pre-order, .pt-info__gift { width: 100%; color: @color-cis; text-align: left !important; }
        .pt-info__pre-order + .pt-info__gift { margin-top: -10px; }
        .pre-order-time { margin: 15px auto; color: @color-cis; text-align: center; }
        .pt-btns { margin: 20px auto;
            > * { width: 100%; height: 60px; }
            .preparing { color: @color-default; background: @color-bg; border-color: @color-bg; cursor: text; }
        }
    }

    .pt-content {
        .pt-content__tab { display: flex; flex-flow: nowrap; justify-content: space-around; align-items: center; 
            > a { text-decoration: underline; }
            .current {  font-weight: bold; text-decoration: none; }
        }
        .pt-content__pane {
            .pt-content__pane__content { display: none; padding: 20px 0; line-height: 160%; }
            .current { display: block; }
        }

        .store-stock__table { width: 100%; display: grid; grid-template-columns: repeat(2, 0.7fr 0.3fr);
            border-top: 1px solid @color-border; border-left: 1px solid @color-border;
            > div { display: flex; justify-content: center; align-items: center;
                padding: 10px; text-align: center; line-height: 120%;
                border-bottom: 1px solid @color-border; border-right: 1px solid @color-border;  
            }
            .yes { color: @color-cis; }
            .no { color: @color-gray1; }
        }
    }
}

.maybe-you-like { padding-bottom: 60px;
    h2 { font-size: @font-XL; font-weight: normal; text-align: center; }
    .pt-list { grid-template-columns: repeat(4, 1fr); }
}

/* 電腦版小螢幕 */
@media (max-width: 1140px) {
    .maybe-you-like .pt-list { grid-template-columns: repeat(3, 1fr); }
}

/* 手機版 */
@media (max-width: 820px) {
    .product-detail { flex-flow: column-reverse;
        .photo-products { width: 100%;
            .swiper-wrapper .swiper-slide { display: block; overflow: hidden; }
            .swiper-pagination { bottom: 0; }
            .swiper-button-prev, .swiper-button-next { display: none; }
            .swiper-pagination-bullet { width: 8px; height: 8px; margin: 0 5px !important; 
                background: @color-gray2; border: 1px solid @color-gray2; opacity: 1; transition: 0.3s; }
            .swiper-pagination-bullet-active { width: 20px; border-radius: 4px; }
        }

        .container__left { width: 100%;
            .video { 
                .video-container { max-width: 400px;
                    .video-container__iframe { padding-top: 177.78%; /*9:16*/ }
                }
            }
        }

        .container__main { width: 100%; padding: 25px 15px; 
            .size-select__option { width: 100%;  }
            .size-select__suggestion { width: 100%; text-align: left !important; }
            .pt-btns { position: fixed; right: 0; bottom: 0; left: 0; margin: 0; }
            .pt-info { padding-top: 0; }
            .pt-content { margin-top: 20px; padding-top: 20px; border-top: 1px solid @color-border; }
        }
    }

    .maybe-you-like .pt-list { grid-template-columns: repeat(2, 1fr); }
}